/*Only on Bootstrap's sm and up*/
@media screen and (min-width: 576px) {
  #main-content {
    width: 75%;
    min-width: 1px;
    min-height: 100vh;
    margin-left: 25%;
    background: green;
  }
}

